<div style="display: flex; flex-direction: column; justify-content: center; height: 100vh;">
<center>

<h1>
<%= @player_1_name %> Vs. <%= @player_2_name%> <br />
</h1>

<h2>
<%= "#{@player_2_name} health: #{@player_2_health}HP" %> <br />
</h2>

<form action="/attack" method="post">
    <input type="submit" value="Attack">
</form>

<form action="/reset" method="post">
    <input type="submit" value="Reset">
</form>

<h2>
  <%= "#{@current_player} to go" %>
</h2>

<center>
</div>
