<div style="display: flex; flex-direction: column; justify-content: center; height: 100vh;">
<center>

<h1>
<%= session[:player_1] %> Vs. <%= session[:player_2] %> <br />
</h1>

<h2>
<%= "#{session[:player_2]} health: #{@health}HP" %> <br />
</h2>

<form action="/attack" method="post">
    <input type="submit" value="Attack">
</form>

<form action="/reset" method="post">
    <input type="submit" value="Reset">
</form>

<center>
</div>
