<%= @player_1 %> Vs. <%= @player_2 %> <br />

<%= "#{@player_2} health: #{@health}HP" %> <br />


<form action="/attack" method="post">
    <input type="submit" value="Attack">
</form>

<form action="/reset" method="post">
    <input type="submit" value="Reset">
</form>
